blinker==1.9.0
build==1.2.2.post1
click==8.1.8
colorama==0.4.6
coverage==7.7.0
Flask==3.1.0
-e git+https://github.com/chirikkikik/flask-app.git@8be63469172edcf2ed7c43c5997ae40528c97bb3#egg=flaskr
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pluggy==1.5.0
pyproject_hooks==1.2.0
pytest==8.3.5
Werkzeug==3.1.3
